.main-con{   
    position: relative; 
    display: inline-block;
    width: 100%;
    height: calc(100vh - 56px);
}

.floating-div{
    position: absolute; /* Position the text overlay relative to the container */
    top: 15%; /* Position vertically at the center */
    right: 0%; /* Position horizontally at the center */
    transform: translate(-50%, -50%); /* Center the text using transform */
    font-size: 24px; /* Adjust the font size as needed */
    color: white; /* Set text color */
    padding: 10px 20px; /* Add padding to the text */
    border-radius: 5px; /* Add rounded corners */
}

.nav-icons{
    size: 50px;
}

.map-container {    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:90%;
}

.marker-s {/* 
    height: 50px;
    width: 50px; */
    position: absolute;
    background-color: red;
    color: white;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    /* Add more styling properties as needed */
  }

  .m-img{
    width: 30px; 
    height: 30px;
  }

  .main-map{
    height: calc(100vh - 56px);
    width: 100%;
  }